<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268505389181-p47gsc177h7qc09vstbajlv3e59167sf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268505389181-p47gsc177h7qc09vstbajlv3e59167sf</string>
	<key>API_KEY</key>
	<string>AIzaSyDlsLuTnDJ2aM0-eSx-Xd4kCSl3X3qZKg4</string>
	<key>GCM_SENDER_ID</key>
	<string>268505389181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userlogin</string>
	<key>PROJECT_ID</key>
	<string>test-2f510</string>
	<key>STORAGE_BUCKET</key>
	<string>test-2f510.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268505389181:ios:7e76a97677c23a62147914</string>
</dict>
</plist>